.navBarFlex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.me-auto {
    margin-right: 0!important;
}

.nav-item {
    margin: 0vh 1.5vw;
}

.footertext {
text-align: center;
background-color: black;
bottom: 0;
width: 100%;
height: 50px;
color: white;
padding-top: 2vh;
}